* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

/************
	Boot CSS
************/
input{
	border: none;
	width: 100%;
}

img {
	max-width: 400px;
	/*margin-right: 200px;*/
}

.center {
	max-width: 1280px;
	padding: 0 2%;
	margin: 0 auto;
}

.w33 {
	width: 33.3%;
	padding: 0 10px;
}

.w50 {
	padding: 0 10px;
	width: 50%;
}

.left{
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}


/********
	STYLE
*********/

header {
	padding: 20px 0;
	background: #3D437A;
}

header .logo {
	font-size: 23px;
	font-weight: 300;
	text-transform: uppercase;
	color: white;
}

.mobile {
	display: none;
}

nav.desktop ul{
	position: relative;
	top: 6px;
	list-style: none;
}

nav.desktop li {
	font-weight: 300;
	font-size: 15px;
	padding: 0 15px;
	text-transform: uppercase;
	display: inline-block;
}

nav.desktop a {
	color: white;
	text-decoration: none;
}

section.main-banner {
	width: 100%;
	height: 600px;
	background-image: url('../img/header_bg.png');
	background-size: cover;
}

section.main-banner form {
	width: 93%;
	max-width: 600px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

section.main-banner form h2 {
	color: #FFF;
	font-weight: 300;
	font-size: 30px;
}

section.main-banner form input[type=email]{
	width: 100%;
	height: 50px;
	margin-top: 10px;
	background: #FFF;
	color: #333;
	font-size: 22px;
	padding-left: 10px;
}

section.main-banner form input[type=submit]{
	width: 100%;
	height: 50px;
	margin-top: 10px;
	background: #00C59E;
	color: #FFF;
	cursor: pointer;
	font-size: 22px;
	border: 0;
}

section.author-description {
	padding 40px 0;
}

section.author-description h2 {
	font-size: 28px;
	font-weight: 300;
	color: #444;
	margin-top: 20px;
}

section.author-description p{
	font-size: 10px;
	font-weight: 300;
	color: #444;
	margin-top: 10px;
}

section.skills{
	padding: 40px 0;
	margin-top: 30px;
	background: #E2E2E2;
}

section.skills h2.title {
	font-size: 30px;
	text-align: center;
	font-weight: 400;
	color: #999;
}

.box-skills{
	margin: 40px 0;
	padding: 0 30px;
	text-align: center;
}

.box-skills h3{
	color: #404580;
	font-size: 40px;
}

.box-skills h4 {
	font-weight: 300;
	font-size: 25px;
	color: #BABABA;
}

.box-skills{
	color: #444;
	font-size: 15px;
	margin-top: 10px;
}

section.extras{
	padding: 30px 0;
	background: #404580;
}

section.extras .title{
	color: #FFF;
	font-weight: 300;
	font-size: 25px;
	margin-bottom: 15px;
}

.services-container,.depoiment-container{
	padding: 0 50px; 
}

.depoiment-single {
	padding: 15px 0;
	border-bottom: 1px solid #5056A0; 
}

p.depoiment-description {
	font-size: 15px;
	color: #FFF;
	font-weight: 300;
}

p.author-name {
	font-size: 15px;
	color: #FFF;
	margin-top: 5px;
	font-weight: bold;
}

.services ul{
	margin: 20px 0;
}

.services li{
	margin-bottom: 15px;
	font-size: 15px;
	color: #FFF;
	font-weight: 300;
}

footer{
	background: #313462;
	padding: 30px 0;
}

footer p{
	color: #FFF;
	text-align: center;
	font-weight: 400;
	font-size: 16px;
}

section.error-404{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15.9% 0;
}

section.error-404 .center .fa-exclamation-triangle{
	color: red;
	width: 100px;
	height: 100px; 
}

.error {
	display: flex;
	justify-content: center;
	align-items: center;
}

#map{
	width: 100%;
	height: 400px;
}

.contact-container{
	padding: 40px 0;
	text-align: center;
}

.contact-container input[type=text]{
	margin: 8px 0;
	width: 100%;
	height: 40px;
	border: 1px solid #ccc;
	padding-left: 8px;
	font-size: 16px;
	max-width: 700px;
	color: #444;
}

.contact-container textarea{
	padding: 8px;
	margin: 8px 0;
	width: 100%;
	height: 120px;
	border: 1px solid #ccc;
	padding-left: 8px;
	font-size: 16px;
	max-width: 700px;
	resize: vertical;
	color: #444;
}

.contact-container input[type=submit]{
	background: #80C59E;
	width: 240px;
	height: 40px;
	color: #FFF;
	cursor: pointer;
}

@media screen and (max-width: 768px){
	img {
		float: none !important;
		display: block;
		margin: 0 auto;
	}

	.w50{
		padding: 20px;
		width: 100%;
	}

	.w33{
		padding: 20px;
		width: 100%;
	}

	.box-skills{
		padding: 30px 20px;
		margin: 0;
	}
}

@media screen and (max-width: 700px){
	nav.desktop{
		display: none;
	}

	nav.mobile {
		display: block;
		z-index: 2;
	}

	.button-menu-mobile {
		font-size: 24px;
		cursor: pointer;
		color: #FFF;
		z-index: 2;
	}

	nav.mobile ul {
		width: 100%;
		top: 55px;
		position: absolute;
		left: 0;
		display: none;
		text-align: center; 
		z-index: 2;
	}

	nav.mobile li{
		width: 100%;
		display: block;
		background: #FFF;
		border-bottom: 1px solid #ccc;
		font-size: 17px;
		font-weight: 300;
		padding: 8px 0;
		z-index: 2;
	}

	nav.mobile li a{
		display: block;
		color: #444;
		text-decoration: none;
	}

	section.error-404{
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 38% 0;
	}

	section.error-404 .center .fa-exclamation-triangle{
		color: red;
		width: 100px;
		height: 100px; 
	}

	.error {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
